@using FS0924_BE_S2_L3.Models.ViewModel
@model CinemaListViewModel;

@{
	ViewData["Title"] = "Sale";
	
}


<div class="text-center">
	<h1 class="display-4">LISTA SALE CINEMA </h1>
	<a class="btn btn-outline-success" asp-controller="Users" asp-action="Add">AGGIUNGI UN NUOVO CLIENTE</a>
	
	<div class="container-fluid">
		<div class="row">
			@foreach (var element in Model.Theatre)
			{
				<div class="col-4">
					<h2>SALA @element.NomeSala</h2>
					<h6 class="text-secondary">Posti Rimanenti: @element.Posti</h6>
					<div>
						<table class="table table-striped">
							<tr>
								<th>Nome</th>
								<th>Cognome</th>
								<th>Ridotto</th>
								<th>🛠</th>
							</tr>
							
							
								 @foreach(var utente in element.ListaUtenti){
									<tr>
										<td>@utente.Nome</td>
										<td>@utente.Cognome</td>
										<td>@(utente.IsReduced? "Prezzo: 5.99$" : "Prezzo: 10.99$")</td>
										<td><div>
											@* <a class="btn btn-outline-warning p-0 px-1">🔧</a> *@
											<a asp-controller="Users" asp-action="Edit" asp-route-sala=@element.IdSala asp-route-id=@utente.Id class="btn btn-outline-warning p-0 px-1">🔧</a>
											<a asp-controller="Users" asp-action="Delete" asp-route-sala=@element.IdSala asp-route-id=@utente.Id class="btn btn-outline-danger p-0 px-1">❌</a>
										</div></td>
														
	
									</tr>
								 }
							
                             
						</table>
					</div>
				</div>

			}
		</div>
	</div>
</div>